<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <mappers>
    	<mapper resource="/mybatis/sql/book/book_board.xml"/>
        <mapper resource="/mybatis/sql/member.xml"/>
        <mapper resource="/campboard/sql/camboard.xml"/>
        <mapper resource="/campboard/sql/camjaboard.xml"/>
        <mapper resource="/campboard/sql/caminfo.xml"/>
        <mapper resource="/mybatis/sql/matzip.xml"/>
         
        <mapper resource="/mybatis/sql/fb/fb_board.xml"/>
        
        <mapper resource="/mybatis/sql/fb/fm_board.xml"/>
        
        <mapper resource="/mybatis/sql/song_album.xml"/>
        <mapper resource="/mybatis/sql/song_board.xml"/>
        <mapper resource="/mybatis/sql/song_notice.xml"/>
        <mapper resource="/mybatis/sql/song_singer.xml"/>
        
        <!-- 
        
        <mapper resource="/memboard/sql/board.xml"/>
        <mapper resource="/memboard/sql/shop.xml"/>
        <mapper resource="/memboard/sql/faq.xml"/>
        <mapper resource="/memboard/sql/qna.xml"/> 
        -->
     </mappers>
</configuration>
